@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Theme tokens */
:root {
  /* Light Theme */
  --background: #f4f6fb;
  --foreground: #1e293b;
  --surface-bg: #ffffff;
  --sidebar-bg: var(--surface-bg);
  --accent-color: #4c51f0;
  --input-bg: #ffffff;
  --input-text: #1e293b;

  /* Helps Safari/macOS render form controls correctly */
  color-scheme: light;
}

.dark {
  --background: #09090b;
  --foreground: #f1f5f9;
  --surface-bg: #111827;
  --sidebar-bg: var(--surface-bg);
  --accent-color: #5d62f3;
  --input-bg: #1e293d;
  --input-text: #f1f5f9;

  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}